<div id="wrapper">
    <div id="nav">
        <div>
            <a *ngIf="isLoggedIn()" routerLink="shoppinglists" routerLinkActive="active">Übersicht</a>
            <a routerLink="home" routerLinkActive="active">Infoseite</a>
        </div>

        <button *ngIf="!isLoggedIn()" class="btn standard" routerLink="login" routerLinkActive="active">{{ getLoginLabel() }}</button>
        <button *ngIf="!isLoggedIn()" class="btn standard" routerLink="register" routerLinkActive="active">Registrieren</button>
        <button *ngIf="isLoggedIn()" class="btn standard" routerLink="home" routerLinkActive="active" (click)="logout()">Logout</button>
    </div>

    <router-outlet></router-outlet>
</div>
